In [ ]:
# The map fn applies a given function to all items in an input list and returns a map object.
# Useful for transforming data in a list comprehensively
# syntax: map(function,list)

In [1]:
def square(x):
    return x**2 

square(10)

100

In [7]:
nums = [x for x in range(1,9)]
print(nums)

squared_nums = list(map(square,nums))
print(squared_nums)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
list(map(lambda x:x**2,nums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [11]:
# map with multiple iterables 
nums1 = [1,2,3]
nums2 = [4,5,6]
added_nums = list(map(lambda x,y:x+y,nums1,nums2))
print(added_nums)

[5, 7, 9]

In [13]:
# map to convert a list  of strings to ints 

str_nums = [str(i) for i in range(1,6)]
list(map(int,str_nums))

[1, 2, 3, 4, 5]

In [ ]:
words = ['banana','apple','orange']
list(map(str.upper,words))

['BANANA', 'APPLE', 'ORANGE']

In [15]:
def get_name(person):
    return person['name']

people = [
    {'name':'jay','age':23},
    {'name':'sam','age':34}
]

list(map(get_name,people))

['jay', 'sam']