In [27]:
# list
# creating list 
lst = []
print(type(lst))

<class 'list'>

In [ ]:
# list methods
# 1.append
# a = [1,2,3] 
# a.append(4)
# [1,2,3,4]

# 2. insert 
#  a.insert(0,9)
# a = [9,1,2,3]

# 3. pop
# a.pop()
# a = [1,2]

# 4. remove
# a.remove(2)
# a = [1,3]

# 5.index 
# a.index(1)
# 0

In [28]:
names = ["surya","jack","jacob"]
print(names)

['surya', 'jack', 'jacob']

In [29]:
mixed_list = ["hello",3.14,True]
print(mixed_list)

['hello', 3.14, True]

In [30]:
fruits = ['apple','banana','cherry','kiwi','gauva']
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [31]:
print(fruits[1:])
print(fruits[1:3])
# print(fruits[-1:-3])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [32]:
# Modify the list elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [33]:
fruits[1] = 'watermelon'
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [34]:
fruits[1:] = 'watermelon'

In [35]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [36]:
fruits = ['apple','banana','cherry','kiwi','gauva']

In [37]:
# list methods 
# append: adds an item to the end 
fruits.append('orange')
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [38]:
# insert: insert the item at a particular index 
fruits.insert(1,'watermelon')
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [39]:
# remove: removes the first occurence of the item
fruits.remove('banana')
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [40]:
# pop: deletes the last element in the list
popped_fruits = fruits.pop()
print(popped_fruits)

orange

In [41]:
# index: retrieves the index of the item in the list
index = fruits.index('cherry')
print(index)

2

In [42]:
fruits.insert(2,'banana')
print(fruits.count('banana'))

1

In [43]:
fruits.sort() # sorts in ascending order

In [44]:
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [45]:
fruits.clear() # deletes the items in the list

In [46]:
fruits

[]

In [50]:
# slicing list
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[2:5])
print(nums[:5])
print(nums[5:])
print(nums[::2]) # double colon :: means all the elements,the 2 represents step size
print(nums[::-1]) # shortcut for reversing a list

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
print(nums[::1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
for num in nums:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [56]:
fruits = ['apple','banana','cherry','kiwi','gauva']

In [57]:
# iterating with an index 
for index,fruit in enumerate(fruits):
    print(index,fruit)

0 apple
1 banana
2 cherry
3 kiwi
4 gauva

In [58]:
for index,num in enumerate(nums):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [59]:
lst = []
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
lst = [x**2 for x in range(10)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# list comprehension 
# Basic syntax [expression for item in iterable]
# with conditional logic [expression for item in iterable if condition]
# nested list comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [61]:
# basic list comprehension
square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
# list comprehension with comprehension 
eve_num = [i for i in range(10) if i % 2 == 0]
eve_num

[0, 2, 4, 6, 8]

In [1]:
# nested list comprehension 
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']
pair = [[[i,j] for i in lst1] for j in lst2]
pair

[[[1, 'a'], [2, 'a'], [3, 'a'], [4, 'a']],
 [[1, 'b'], [2, 'b'], [3, 'b'], [4, 'b']],
 [[1, 'c'], [2, 'c'], [3, 'c'], [4, 'c']],
 [[1, 'd'], [2, 'd'], [3, 'd'], [4, 'd']]]

In [66]:
# list comprehension with function calls 

words = ['hello','world','list','comprehension']
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 4, 13]

In [68]:
nums = [int(i) for i in range(21)]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [69]:
l = 0
h = len(nums) - 1 
m = (h - l) // 2
print('first element',nums[l]) 
print('last item',nums[h])
print('middle element',nums[m])

first element 0
last item 20
middle element 10

In [71]:
print(nums[:5])
print(nums[5:15])

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [72]:
nums = [i ** 2 for i in range(10)]
nums

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
nums = [i for i in range(10) if i % 2 == 0]
nums

[0, 2, 4, 6, 8]

In [82]:
import random 

random_list = [random.randint(1,100) for _ in range(10)]
print(random_list)

sorted_list = sorted(random_list) # Note .sort() sorts the list inplace 
print(random_list)

reversed_list = sorted(random_list,reverse=True)
print(reversed_list)

random_list = list(set(random_list))
print("List without any duplicates:",random_list)

[57, 29, 97, 97, 10, 55, 49, 48, 23, 21]
[57, 29, 97, 97, 10, 55, 49, 48, 23, 21]
[97, 97, 57, 55, 49, 48, 29, 23, 21, 10]
List without any duplicates: [97, 10, 48, 49, 23, 21, 55, 57, 29]

In [84]:
nums = [1,2,34,5,9,99,1,1,1]
dict =  {}
for num in nums:
    if num in dict:
        dict[num] += 1 
    else:
        dict[num] = 1
print("Frequency of each element",dict)
list_no_dup = list(set(dict.keys()))
print(list_no_dup)

Frequency of each element {1: 4, 2: 1, 34: 1, 5: 1, 9: 1, 99: 1}
[1, 2, 34, 99, 5, 9]

In [89]:
rows,cols = 5,5
mat = [[[r,c] for c in range(cols)] for r in range(rows) ]
print(mat)
print(mat[0][0])

[[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4]], [[1, 0], [1, 1], [1, 2], [1, 3], [1, 4]], [[2, 0], [2, 1], [2, 2], [2, 3], [2, 4]], [[3, 0], [3, 1], [3, 2], [3, 3], [3, 4]], [[4, 0], [4, 1], [4, 2], [4, 3], [4, 4]]]
[0, 0]

In [ ]:
mat = [[1,2,3],[4,5,6],[7,8,9]]
print(mat)
for row in mat:
    print(row)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [93]:
student = [
    {'name':'Alice','score':88},
    {'name':'Ashley','score':32},
    {'name':'Luke','score':90},
]

sorted_students = sorted(student,key=lambda x:x['score'],reverse=True)
print("Sorted students by score in descending order:")
for student in sorted_students:
    print(student)

Sorted students by score in descending order:
{'name': 'Luke', 'score': 90}
{'name': 'Alice', 'score': 88}
{'name': 'Ashley', 'score': 32}

In [103]:
rows,cols = 3,3
mat = [[r*cols + c + 1 for c in range(cols)] for r in range(rows)]
print(mat)

diagonal = [mat[r][c] for c in range(len(mat[1])) for r in range(len(mat[0])) if mat[r][c] == mat[c][r]]
print(diagonal) 

transpose = [mat[c][r] for r in range(len(mat[0])) for c in range(len(mat[1]))]
print(transpose)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 5, 9]
[1, 4, 7, 2, 5, 8, 3, 6, 9]

In [107]:
print(mat)
flattened_mat = [item for row in mat for item in row]
flattened_mat

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
list1 = range(1,6)
list2 = ['a','b','c','d','e']
zipped = zip(list1,list2)
print(zipped)

<zip object at 0x000001E14BA2AC40>

In [109]:
list1[::-1]

range(5, 0, -1)

In [110]:
list1 = [1,2,4]
list2 = [2,3,5]
items = [i for i in list1 if i in list2]
items

[2]