In [ ]:
# sets are used to store collections of unique items. 
# They are unordered meaning elements don't follow a specific order and we cant store any duplicate elements
# Useful for membership tests, eliminating duplicate entries and performing math operations like union,intersection,difference,symmetric difference

In [1]:
# create a set 
my_set = {1,2,3,4}
print(my_set)
print(type(my_set))

{1, 2, 3, 4}
<class 'set'>

In [3]:
empty_set = set([1,2,3,4])
print(empty_set)
print(type(empty_set))

{1, 2, 3, 4}
<class 'set'>

In [4]:
my_set = set([1,2,2,3,4,4,1,3]) # we wont have any duplicates 
print(my_set)

{1, 2, 3, 4}

In [5]:
# Basic set operations 
# adding/removing elements 
my_set

{1, 2, 3, 4}

In [7]:
my_set.add(5)
print(my_set)
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [8]:
# remove elements 
my_set.remove(2)
my_set

{1, 3, 4, 5, 6}

In [ ]:
my_set.discard(9) # removes an element if its present. But it doesnt raise an error

In [ ]:
# pop 
removed_element = my_set.pop() # first in first out
print(removed_element)
print(my_set)

1
{3, 4, 5, 6}

In [12]:
# clear all elements in the set 
my_set.clear()
print(my_set)

set()

In [13]:
# set membership test 
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
# math operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

# union oper 
union_set = set1.union(set2)
print(union_set)

# intersection oper
inter_set = set1.intersection(set2)
print(inter_set)

# intersection_update
set1.intersection_update(set2) # set1 gets updated with only the intersection elements
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
# Difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set1.difference(set2) 
# returns a new set containing all elements in set1 but not in set2 
# output = {1,2,3}

{1, 2, 3}

In [18]:
set2.difference(set1)

{7, 8, 9}

In [ ]:
# symmetric difference
set1.symmetric_difference(set2) # common elements in both sets are removed

{1, 2, 3, 7, 8, 9}

In [23]:
# set methods 
set1 = {1,2,3,4,5}
set2 = {3,4,5}
# check if set1 is a subset of set2 
print(set1.issubset(set2))
# check if set1 is a superset of set2 
print(set1.issuperset(set2))

False
True

In [24]:
lst = [1,2,2,3,4,5,5,6]
set(lst)

{1, 2, 3, 4, 5, 6}

In [25]:
# counting unique words into text 

text = "In this tutorial we are discussing about the sets"
words = text.split()
print(words)

# convert the list of words to get unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'the', 'sets']
{'we', 'tutorial', 'the', 'In', 'sets', 'this', 'about', 'are', 'discussing'}
9

In [ ]:
# create a set of first 10 +ve nums
nums = [x**2 for x in range(1,11)]
nums = set(nums)
print(nums)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [4]:
# add 11 to set 
nums.add(11)
nums.remove(1)
print(nums)

{64, 4, 36, 100, 9, 11, 16, 49, 81, 25}

In [9]:
# perform union,intersection,difference,symmetirc difference operations on these sets
nums_5 = set([i**2 for i in range(1,6)])
nums_10 = set([i**2 for i in range(6,11)])
print(nums_5)
print(nums_10)
union_set = nums_5.union(nums_10)
print(union_set)
intersection_set = nums_5.intersection(nums_10)
print(intersection_set)
difference_set = nums_5.difference(nums_10) # return items that only exist in nums_5 not nums_10
print(difference_set)
sym_set = nums_5.symmetric_difference(nums_10)
print(sym_set)

{1, 4, 9, 16, 25}
{64, 36, 100, 49, 81}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
set()
{1, 4, 9, 16, 25}
{64, 1, 4, 9, 16, 81, 25, 36, 100, 49}

In [ ]:
# frozen set