In [ ]:
# Tuples are ordered collections of items that are immutable (unable to be changed)
# Similar to lists but their immutability makes them different

In [ ]:
# methods

In [1]:
# creating a tuple 
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
nums = tuple([1,2,3,4,5,6])
nums

(1, 2, 3, 4, 5, 6)

In [4]:
list(nums)

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple = (1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [12]:
# Accessing tuple elements
# indexing and slicing is similar to a list 
print(nums)
print(nums[0])
print(nums[2])
print(nums[-1])
print(nums[0:4])
print(nums[::-1])

(1, 2, 3, 4, 5, 6)
1
3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [13]:
# Concatenation 
concatenation_tuple = nums + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [14]:
nums*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
# immutable nature of tuples 
# immutables: elements cannot be changed once they are assigned 
print(nums)
# nums[-1] = 10 # Results in TypeError
# if we want to make changes we can convert it into a list anmd convert it back to tuple

(1, 2, 3, 4, 5, 6)

In [ ]:
# tuple methods 
print(nums)
# count()
print(nums.count(1)) # returns the count of an element in tuple 
print(nums.index(3)) # returns the first index of that value

(1, 2, 3, 4, 5, 6)
1
2

In [21]:
# packing and unpacking tuple 
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [22]:
# Unpacking a tuple 
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [23]:
nums =  (1,2,3,4,5,6)
first,*middle,last = nums
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [27]:
# nested tuple 
# nested list
lst = [[1,2,3,4],[5,6,7,8],[1,'Hello',3.14,'c']]
print(lst[0])
print(lst[0][2])
print(lst[0][0:3])

[1, 2, 3, 4]
3
[1, 2, 3]

In [29]:
lst = [[1,2,3,4],[5,6,7,8],(1,'Hello',3.14,'c')]
print(lst[2][0:3])

(1, 'Hello', 3.14)

In [30]:
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [32]:
# iterating in nested tuple 
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=' ')
    print()

1 2 3
a b c
True False

In [37]:
# create a tuple with first 10 positive integers 
nums = [i for i in range(1,11)]
nums = tuple(nums)
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [39]:
# print the first,middle and last element
l = 0
h = len(nums) - 1
m = (l + h) // 2
print(nums[0])
print(nums[h])
print(nums[m])

1
10
5

In [41]:
# print 1st 3 elements, last 3 elements and the elements from 2 to 5 index
print(nums[0:3])
print(nums[-4:-1])
print(nums[2:5])

(1, 2, 3)
(7, 8, 9)
(3, 4, 5)

In [54]:
# create a nested tuple representing a 3,3 mat and print the mat. 
# Access and print the element at the 2nd row and the third column 

rows,cols = 3,3
mat = [[(r,c) for c in range(cols)] for r in range(rows)]
print(mat)
print(mat[2][-1])

[[(0, 0), (0, 1), (0, 2)], [(1, 0), (1, 1), (1, 2)], [(2, 0), (2, 1), (2, 2)]]
(2, 2)

In [57]:
# representing a 3,3 mat and 
nums = (1,1,2,4,5)
print(nums.index(1))

0

In [58]:
nums = (1,2,3,4,5)
a,b,c,d,e = nums
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [59]:
concat_tuple = (1,2,3) + (4,5,6)
concat_tuple

(1, 2, 3, 4, 5, 6)

In [61]:
nums = tuple(list(range(1,6)))
print(nums)

(1, 2, 3, 4, 5)

In [ ]:
rows,cols = 3,3
tup_arr = [[(r,c,r*cols+c) for c in range(cols)] for r in range(rows)]
tup_arr = tuple(tup_arr)
print(tup_arr)

([(0, 0, 0), (0, 1, 1), (0, 2, 2)],
 [(1, 0, 3), (1, 1, 4), (1, 2, 5)],
 [(2, 0, 6), (2, 1, 7), (2, 2, 8)])

In [64]:
pos_5_tup = (1,2,3,4,5)
pos_5_lst = list(pos_5_tup)
print(pos_5_tup)
pos_5_lst.append(6)
pos_5_tup = tuple(pos_5_lst)
print(pos_5_tup)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [65]:
nested_tuple = ((1,2,3),(4,5,6))
for tuple in nested_tuple:
    for num in tuple:
        print(num)

1
2
3
4
5
6

In [66]:
dup_tup = (1,2,2,4,5,56)
set(dup_tup)

{1, 2, 4, 5, 56}

In [68]:
def compute(nums):
    max_num = max(nums)
    min_num = min(nums)
    sum_num = sum(nums)
    return max_num,min_num,sum_num

nums = (1,2,4,5,6)
max_num,min_num,sum_num = compute(nums)
print(max_num,min_num,sum_num)

6 1 18